{% ckan_extends %}

{% block header_wrapper %}
  {% block header_account %}
    {{ super() }}
  {% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %}
    {{ super() }}
  {% endblock %}
  <div class="container">
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
        {{ super() }}
      {% endblock %}
    </hgroup>
    {% block header_site_search %}
      {{ super() }}
    {% endblock %}
  </div>
</header>

<div class="row masthead masthead-menu">
  <div class="collapse navbar-collapse navbar-left nav-items" id="main-navigation-toggle">
    {% block header_site_navigation %}
    <nav class="section navigation">
      <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('dataset.search', _('DATASETS')),
          ('organization.index', _('ORGANIZATIONS')),
          ('group.index', _('GROUPS')),
          ('home.about', _('ABOUT')) ) }}
      {% endblock %}
      </ul>
    </nav>
    {% endblock %}
  </div>
</div>
{% endblock %}
