.account-masthead {
    background-color: #619CBB;
}

.masthead {
  background-color: white;
}

.masthead .navigation .nav-pills li a {
  background-color: white;
  color: #374A67;
  text-transform: uppercase;
  font-weight: bold;
}

.masthead .navigation .nav-pills li a:hover {
  background-color: #374A67;
  color: white;
}

.masthead .navigation .nav-pills li.active a {
  background-color: #374A67;
  color: white;
}

.box {
  box-shadow: none;
}

.hero .box {
  border: none;
}

.hero {
  background: url("../../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.homepage .module-search .module-content {
  background-color: #374A67;
}

.homepage .module-search {
  padding: 0px;
}

.homepage .module-search .tags {
  background-color: #374A67;
}

.site-footer,
body {
  background-color: #619CBB;
}